inlineattachmentstoarray
{"id":"8edfc2e4-2958-413a-af04-b6c9-d65b6218","brandColor":"#758393","connectionReferences":{"shared_sharepointonline":{"connection":{"id":"/new_sharedsharepointonline_e16fc"}},"shared_teams":{"connection":{"id":"/new_sharedteams_b27d8"}},"shared_office365users":{"connection":{"id":"/new_sharedoffice365users_960bf"}},"shared_office365_1":{"connection":{"id":"/new_sharedoffice365_467e3"}},"shared_office365":{"connection":{"id":"/new_sharedoffice365_467e3"}},"shared_commondataserviceforapps":{"connection":{"id":"/new_sharedcommondataserviceforapps_c3c25"}},"shared_conversionservice":{"connection":{"id":"/new_sharedconversionservice_05209"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzc1ODM5MyIvPg0KIDxwYXRoIGQ9Ik0xMSAyMGg3LjJsMSAxaC05LjJ2LTguM2wtMS4zIDEuMy0uNy0uNyAyLjUtMi41IDIuNSAyLjUtLjcuNy0xLjMtMS4zem0xMi4zLTJsLjcuNy0yLjUgMi41LTIuNS0yLjUuNy0uNyAxLjMgMS4zdi03LjNoLTcuMmwtMS0xaDkuMnY4LjN6IiBmaWxsPSIjZmZmIi8+DQo8L3N2Zz4NCg==","isTrigger":false,"operationName":"Apply_to_each_attachment_to_see_if_inline","operationDefinition":{"type":"Foreach","foreach":"@triggerOutputs()?['body/attachments']","actions":{"Condition_-_if_inLine_build_the_array":{"type":"If","expression":{"equals":["@items('Apply_to_each_attachment_to_see_if_inline')?['isInline']",true]},"actions":{"Set_variable_isInline":{"type":"SetVariable","inputs":{"name":"isInline","value":true},"runAfter":{}},"content_type":{"type":"Compose","inputs":"@items('Apply_to_each_attachment_to_see_if_inline')?['contentType']","runAfter":{"Get_Inline_Attachment_size_-_if_big_save_to_SP":["Succeeded"]}},"Increment_variable_xCounter":{"type":"IncrementVariable","inputs":{"name":"xCounter","value":1},"runAfter":{"Set_variable_isInline":["Succeeded"]},"description":"first part of array after split which is needed is 1 "},"attachment_bytes":{"type":"Compose","inputs":"@concat('data:',outputs('content_type'),';base64,',items('Apply_to_each_attachment_to_see_if_inline')?['contentBytes'])","runAfter":{"content_type":["Succeeded"]}},"split_body_on_src":{"type":"Compose","inputs":"@split(outputs('Body_of_mail'),'src=\"')","runAfter":{"attachment_bytes":["Succeeded"]}},"character_of_end_img_url":{"type":"Compose","inputs":"@indexof(outputs('split_body_on_src')[variables('xCounter')],'\"')","runAfter":{"split_body_on_src":["Succeeded"]}},"trim_the_string_out":{"type":"Compose","inputs":"@substring(outputs('split_body_on_src')[variables('xCounter')],0,outputs('character_of_end_img_url'))","runAfter":{"character_of_end_img_url":["Succeeded"]}},"Append_to_array_variable":{"type":"AppendToArrayVariable","inputs":{"name":"inLineAttachmentsArray","value":{"strToReplace":"@outputs('trim_the_string_out')","contentbytes":"@outputs('attachment_bytes')"}},"runAfter":{"trim_the_string_out":["Succeeded"]}},"Get_Inline_Attachment_size_-_if_big_save_to_SP":{"type":"Compose","inputs":"@items('Apply_to_each_attachment_to_see_if_inline')?['size']","runAfter":{"Increment_variable_xCounter":["Succeeded"]}}},"runAfter":{}}},"runAfter":{"Initialize_variable_isInLine":["Succeeded"]}}}
