replace_email_inline_images
{"id":"4ff50cd3-a8bc-4707-b3a0-2cee-6b9484dc","brandColor":"#464F59","connectionReferences":{"shared_sharepointonline":{"connection":{"id":"/new_sharedsharepointonline_e16fc"}},"shared_teams":{"connection":{"id":"/new_sharedteams_b27d8"}},"shared_office365users":{"connection":{"id":"/new_sharedoffice365users_960bf"}},"shared_office365_1":{"connection":{"id":"/new_sharedoffice365_467e3"}},"shared_office365":{"connection":{"id":"/new_sharedoffice365_467e3"}},"shared_commondataserviceforapps":{"connection":{"id":"/new_sharedcommondataserviceforapps_c3c25"}},"shared_conversionservice":{"connection":{"id":"/new_sharedconversionservice_05209"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iLTQgLTQgNjAgNjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogPHBhdGggZD0ibS00LTRoNjB2NjBoLTYweiIgZmlsbD0iIzQ2NEY1OSIvPg0KIDxwYXRoIGQ9Ik00MSAxOC41di03LjVoLTMwdjcuNWg1LjY0djEzLjgzbC0zLjI4NS0zLjI4NS0xLjA2NSAxLjA2NSA0LjAzNSA0LjA1Ljg3Ljg0aC02LjE5NXY2aDEzLjV2LTZoLTYuOWwuODU1LS44NTUgNC4wMzUtNC4wNS0xLjA2NS0xLjA2NS0zLjI4NSAzLjI4NXYtMTMuODE1aDE1djEzLjgzbC0zLjI4NS0zLjI4NS0xLjA2NSAxLjA2NSA0LjAzNSA0LjA1Ljg3Ljg0aC02LjE5NXY2aDEzLjV2LTZoLTYuOWwuODU1LS44NTUgNC4wMzUtNC4wNS0xLjA2NS0xLjA2NS0zLjI4NSAzLjI4NXYtMTMuODE1em0tMjguNS02aDI3djQuNWgtMjd6IiBmaWxsPSIjZmZmIi8+DQo8L3N2Zz4NCg==","isTrigger":false,"operationName":"Condition_if_Inline_is_true_rebuild_the_email_body","operationDefinition":{"type":"If","expression":{"equals":["@variables('isInline')",true]},"actions":{"Parse_JSON":{"type":"ParseJson","inputs":{"content":"@variables('inLineAttachmentsArray')","schema":{"type":"array","items":{"type":"object","properties":{"strToReplace":{"type":"string"},"contentbytes":{"type":"string"}},"required":["strToReplace","contentbytes"]}}},"runAfter":{}},"Apply_to_each_2":{"type":"Foreach","foreach":"@body('Parse_JSON')","actions":{"Set_variable_temp_with_first_inline_image_substitution":{"type":"SetVariable","inputs":{"name":"temp","value":"@{replace(variables('sanitise'),items('Apply_to_each_2')['strToReplace'],items('Apply_to_each_2')['contentbytes'])}"},"runAfter":{}},"Build_up_the_complete_email_body_again":{"type":"SetVariable","inputs":{"name":"sanitise","value":"@variables('temp')"},"runAfter":{"Set_variable_temp_with_first_inline_image_substitution":["Succeeded"]}}},"runAfter":{"Parse_JSON":["Succeeded"]}}},"runAfter":{"Apply_to_each_attachment_to_see_if_inline":["Succeeded"]}}}
